* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  overflow-x: hidden;
  background-color: black;
}

body .outer section {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}

body .outer .one {
  position: relative;
}

body .outer .one #vcontainer {
  position: absolute;
  max-height: 100%;
  width: 100%;
  overflow: hidden;
  opacity: 0.4;
  z-index: -1;
}

body .outer .one #vcontainer video {
  max-width: none;
}

body .outer .three {
  height: 550vh;
}

body .outer .five {
  height: 250vh;
}

body .outer .six {
  height: 20vh;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 7%;
}

nav header {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav header .logo {
  background-image: url(./logo2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 25%;
  height: 35px;
  margin-left: 3%;
}

nav header .links {
  width: 100%;
}

nav header .links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav header .links ul li {
  list-style: none;
  display: inline-block;
  font-family: 'Roboto Condensed', sans-serif;
  color: rgba(255, 255, 255, 0.7);
  font-size: 10pt;
  margin: 0 5%;
}

nav header .links ul li a {
  color: inherit;
  text-decoration: none;
}

nav .progress-container {
  width: 100%;
  height: 4px;
  background: black;
  overflow: hidden;
}

nav .progress-container .progress-bar {
  height: 4px;
  background: white;
  width: 0%;
}

.one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.one .typeitbox {
  color: white;
  font-size: 25px;
}

.two #bg {
  height: 100%;
  width: 100%;
  background-image: url(./trails.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 50px;
  opacity: 0;
}

.two #bg #reveal1 {
  opacity: 0;
}

.three h1 {
  padding: 25px;
  margin: 0;
  font-size: 40px;
  color: white;
}

.three #reveal2 {
  opacity: 0;
}

.three .cardcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 90%;
  width: 100%;
  opacity: 0.5;
}

.three .cardcontainer .bigcard {
  height: 315px;
  width: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.three .cardcontainer .bigcard .smallcard {
  height: 80%;
  width: 80%;
  border: 1px solid white;
  background-color: black;
  border-radius: 3px 3px 0 0;
}

.three .cardcontainer .bigcard .smallercard {
  height: 15%;
  width: 80%;
  background-color: black;
  border: 1px solid white;
  border-radius: 0px 0px 3px 3px;
}

.three .cardcontainer .point {
  opacity: 0;
}

.four {
  background-color: black;
}

.four #bg2 {
  height: 100%;
  width: 100%;
  background-image: url(./trails2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 50px;
  opacity: 0;
}

.four #bg2 #reveal3 {
  opacity: 0;
}

.projects {
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.five {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 3fr 3fr 0.5fr;
      grid-template-columns: 0.5fr 3fr 3fr 0.5fr;
  grid-auto-rows: 6%;
  grid-gap: 10px;
  color: white;
}

.five article {
  color: white;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: justify;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.five article p {
  padding: 0 20px;
}

.five h1 {
  padding: 0;
  margin: 0;
  font-size: 40px;
  color: white;
}

.five #title {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  opacity: 0;
  margin-top: 20px;
}

.five #headline {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid white;
  opacity: 0;
}

.five #firstpara {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3 / 6;
  opacity: 0;
}

.five #image1 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3 / 6;
  opacity: 0;
  background-image: url("./images/warwick.jpg");
}

.five #into {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  grid-row: 6 / 8;
  opacity: 0;
}

.five #image2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 8;
  -ms-grid-row-span: 4;
  grid-row: 8 / 12;
  opacity: 0;
  background-image: url("./images/img1.jpg");
  border-radius: 3px;
}

.five #mystory {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 12;
  -ms-grid-row-span: 2;
  grid-row: 12 / 14;
  opacity: 0;
}

.six footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.six footer .background {
  width: 100%;
  height: 60%;
  background-color: #0f0f0f;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.six footer .background .fab, .six footer .background .far {
  padding: 0 20px;
  font-size: 38px;
}

@media screen and (min-width: 670px) {
  body .outer .three {
    height: 250vh;
  }
  .three .cardcontainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 1007px) {
  body .outer .three {
    height: 170vh;
  }
  .three .cardcontainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=styles.css.map */