@font-face {
    font-family: "Haas";
    src: url("./fonts/Haas.ttf") format("truetype");
}

@font-face {
    font-family: "Bon";
    src: url("./fonts/Bon.otf") format("opentype");
}

@font-face {
    font-family: "BonRegular";
    src: url("./fonts/BonRegular.otf") format("opentype");
}

@font-face {
    font-family: "LucidaGrande";
    src: url("./fonts/LucidaGrande.ttf") format("truetype");
}

body {
    margin: 0;
    box-sizing: border-box;
}

#root {
    height: 100vh;
    width: 100vw;
}

canvas {
    height: 100%;
    width: 100%;
}
