@font-face {
    font-family: "Bon";
    src: url("./fonts/Bon.otf") format("opentype");
}

@font-face {
    font-family: "BonRegular";
    src: url("./fonts/BonRegular.otf") format("opentype");
}

@font-face {
    font-family: "LucidaGrande";
    src: url("./fonts/LucidaGrande-Light.otf") format("opentype");
}

:root {
    --doc-height: 100%;
}

body {
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    min-height: fill-available;
    min-height: -webkit-fill-available;
    overscroll-behavior: contain;
}

html {
    height: fill-available;
    height: -webkit-fill-available;
}

#root {
    height: var(--doc-height);
    width: 100vw;
}

canvas {
    height: 100%;
    width: 100%;
}
